.Parent {
    display: flex;
    flex-direction: column;
}

.topPage {
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
}

.rightside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 10vw;
}

.tresLines {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 15px;
}

.threeLines {
    border: 1px solid white;
    width: 15px;
    margin-left: 15px;
}

body {
    background-image: url('https://i.pinimg.com/originals/a6/60/02/a6600229a75edcf160643dcf32531cd4.png')
}

.bottom {
    color: white;
}

.even {
    margin-right: 15px;
}

.button {
    background-color: rgb(0,0,0,0);
    border: 2px solid white;
    padding: 20px 40px;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;

}